@charset "utf-8";
html {
  overflow-y: scroll;
  overflow-x: hidden;
}
html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.6em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.hendbold {
  font-weight: bold;
}
.hendcenter {
  text-align: center;
}
.hendright {
  text-align: right;
}
.henduppercase {
  text-transform: uppercase;
}
.hendcapitalise {
  text-transform: capitalize;
}
.hendhidden {
  display: none;
}
.hendnospace {
  margin: 0;
  padding: 0;
  list-style: none;
}
.hendblock {
  display: block;
}
.hendjustified {
  text-align: justify;
}
.hendinline * {
  display: inline-block;
}
.hendinline *:last-child {
  margin-right: 0;
}
.hendpushright li {
  margin-right: 20px;
}
.hendpushright li:last-child {
  margin-right: 0;
}
.hendborderedbox {
  border: 1px solid;
}
/* .overlay{position:relative; z-index:1;} */
/* .overlay::after, .overlay.gradient::before{display:block; position:absolute; top:0; left:0; width:100%; height:100%; content:""; z-index:-2;}
.overlay.gradient::before{width:65%; z-index:-1;} */
/* .bgded{background-position:top center; background-repeat:no-repeat; background-size:cover;} */
.hendcircle {
  border-radius: 50%;
  background-clip: padding-box;
}

.hendbtn {
  display: inline-block;
  padding: 8px 18px 10px;
  text-transform: uppercase;
  border: 1px solid;
}

.hendclear,
.hendgroup {
  display: block;
}
.hendclear::before,
.hendclear::after,
.hendgroup::before,
.hendgroup::after {
  display: table;
  content: "";
}
.hendclear,
.hendclear::after,
.hendgroup,
.hendgroup::after {
  clear: both;
}

a {
  outline: none;
  text-decoration: none;
}

.hendfl_left,
.hendimgl {
  float: left;
}
.hendfl_right,
.hendimgr {
  float: right;
}

.hendimg {
  width: auto;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: none;
  line-height: normal;
  vertical-align: middle;
}
.hendimgl {
  margin: 0 15px 10px 0;
  clear: left;
}
.hendimgr {
  margin: 0 0 10px 15px;
  clear: right;
}
.hendimgover {
  display: inline-block;
  position: relative;
  max-width: 100%;
}
.hendimgover::before,
.hendimgover::after {
  display: block;
  position: absolute;
  content: "";
  text-align: center;
  opacity: 0;
}
.hendimgover::before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.hendimgover::after {
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: -25px 0 0 -25px;
  font-family: "Font Awesome\ 5 Free";
  font-weight: 900;
  content: "\f06e"; /* fa-eye */
  font-size: 28px;
}
.hendimgover:hover::before,
.hendimgover:hover::after {
  opacity: 1;
}

/* Fonts ------------------------------------------------------------ */
body,
input,
textarea,
select {
  font-family: Verdana, Geneva, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.hendheading {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Forms ---------------------------------------------------------------------- */
form,
fieldset,
legend {
  margin: 0;
  padding: 0;
  border: none;
}
legend {
  display: none;
}
label,
input,
textarea,
select,
button {
  /* display: block; */
  resize: none;
  outline: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  vertical-align: middle;
}
label {
  margin-bottom: 5px;
}
:required,
:invalid {
  outline: none;
  box-shadow: none;
}
::placeholder {
  opacity: 1;
}

/* Generalise ------------------------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6,
.hendheading {
  margin: 0 0 20px 0;
  font-size: 22px;
  line-height: normal;
  font-weight: normal;
  text-transform: capitalize;
}
.hendheading.hendnospace {
  margin-bottom: 0;
}

address {
  font-style: normal;
  font-weight: normal;
}
hr {
  display: block;
  width: 100%;
  height: 1px;
  border: solid;
  border-width: 1px 0 0 0;
}

.hendfont-xs {
  font-size: 0.8rem;
}
.hendfont-x1 {
  font-size: 1.2rem;
}
.hendfont-x2 {
  font-size: 1.8rem;
}
.hendfont-x3 {
  font-size: 2.8rem;
}

.hendwrapper {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  word-wrap: break-word;
}
/*
The "hoc" class is a generic class used to centre a containing element horizontally
It should be used in conjunction with a second class or ID
*/
.hendhoc {
  display: block;
  margin: 0 auto;
}

/* HTML 5 Overrides ---------------------------------------------------------------- */
address,
article,
aside,
figcaption,
figure,
footer,
header,
main,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
}

/* Grid --------------------------------------------------------------- */
.hendone_half,
.hendone_third,
.hendtwo_third,
.hendone_quarter,
.hendtwo_quarter,
.hendthree_quarter {
  /* display: inline-block; */
  float: left;
  margin: 0 0 4.21052% 4.21052%;
  list-style: none;
}

.hendfirst {
  margin-left: 0;
  clear: left;
}

.hendone_quarter {
  width: 21.8421%;
}
.hendone_third {
  width: 30.52631%;
}
.hendone_half,
.hendtwo_quarter {
  width: 47.89473%;
}
.hendtwo_third {
  width: 65.26315%;
}
.hendthree_quarter {
  width: 73.94736%;
}

/* Spacing -------------------------------------------------------------------- */
.hendbtmspace-10 {
  margin-bottom: 10px;
}
.hendbtmspace-15 {
  margin-bottom: 15px;
}
.hendbtmspace-20 {
  margin-bottom: 20px;
}
.hendbtmspace-30 {
  margin-bottom: 30px;
}
.hendbtmspace-50 {
  margin-bottom: 50px;
}
.hendbtmspace-80 {
  margin-bottom: 80px;
}

.hendrgtspace-5 {
  margin-right: 5px;
}
.hendrgtspace-10 {
  margin-right: 10px;
}
.hendrgtspace-15 {
  margin-right: 15px;
}
.hendrgtspace-20 {
  margin-right: 20px;
}
.hendrgtspace-30 {
  margin-right: 30px;
}

.hendinspace-5 {
  padding: 5px;
}
.hendinspace-10 {
  padding: 10px;
}
.hendinspace-15 {
  padding: 15px;
}
.hendinspace-20 {
  padding: 20px;
}
.hendinspace-30 {
  padding: 30px;
}
